<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logo/crop-logo.png' %}" />
    <title>Your Caretaker-Chikitsak</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- header -->

    <header>
        <div class="logo">
            <div class="logo-image">
                <img class="i-1" src="{% static 'images/logo/logoji.JPG' %}" alt="image">
                <p>Chikitsak</p>
            </div>
            <div class="burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>

        <!-- nav-bar -->
        <nav>
            <ul class="nav-ul nav-display">
                <li><a class="f-nav" href="/about">About us</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/work">Pages</a></li>
                <li><a class="btn-nav" href="/work">Save my spot</a></li>
            </ul>
        </nav>
    </header>
    <!-- main text heading -->
    <!-- background image  -->
    <section class="background-image">

        <section class="main-text">
            <div class=" main-c">

                <p class="small-text">WITH CHIKITSAK YOU ARE NOT ALONE</p>
                <h1 class="heading-text index-main-heading">Connect easily. For the benefit of patients, Health
                    Experts & Caregivers.</h1>
                <p class="supporting-text pad">Discuss patients, empower yourself, learn from patients experience and be
                    part of
                    a
                    network of healthcare
                    communities ready to collaborate better.
                </p>
                <div>

                    <button class="btn-main"><a href="/work"> Save my spot</a></button>
                </div>
            </div>
        </section>
        <!-- images section -->
        <section class="images grid">
            <div class="card">
                <h3>Sanjana Mahajan</h3>
                <img src="{% static '/images/section-images/1.jpg' %}" alt="profile">
                <p>Caretakers</p>
            </div>
            <div class="card">
                <h3>Bhakti mehta</h3>
                <img src="{% static '/images/section-images/2.jpg' %}" alt="profile">
                <p>Caretakers</p>
            </div>
            <div class="card">
                <h3>Emily Milla</h3>
                <img src="{% static '/images/section-images/3.jpg' %}" alt="profile">
                <p>Caretakers</p>
            </div>
            <div class="card">
                <h3>Dvaid William</h3>
                <img src="{% static '/images/section-images/4.jpg' %}" alt="profile">
                <p>Caretakers</p>
            </div>
            <div class="card">
                <h3>Mason Elijah</h3>
                <img src="{% static '/images/section-images/5.jpg' %}" alt="profile">
                <p>Caretakers</p>
            </div>
            <div class="card">
                <h3>Dr Anjali Sharma</h3>
                <img src="{% static '/images/section-images/6.jpg' %}" alt="profile">
                <p>Caretakers</p>
            </div>
            <div class="card">
                <h3>James Noah</h3>
                <img src="{% static '/images/section-images/7.jpg' %}" alt="profile">
                <p>Caretakers</p>
            </div>
            <div class="card">
                <h3>James Olivia</h3>
                <img src="{% static '/images/section-images/8.jpg' %}" alt="profile">
                <p>Caretakers</p>
            </div>
            <div class="card">
                <h3>Charlotte Logan</h3>
                <img src="{% static '/images/section-images/9.jpg' %}" alt="profile">
                <p>Caretakers</p>
            </div>
            <div class="card">
                <h3>Sophia Ella</h3>
                <img src="{% static '/images/section-images/10.jpg' %}" alt="profile">
                <p>Caretakers</p>
            </div>
            <div class="card">
                <h3>Ishabel Amelia </h3>
                <img src="{% static '/images/section-images/11.jpg' %}" alt="profile">
                <p>Caretakers</p>
            </div>
        </section>
    </section>


    <!-- parters div -->
    <section class="partners">
        <div class="p1">
            <div class="container">
                <div class="partners-text">
                    <p class="small-text">OUR PARTNERS</p>
                    <h1 class="heading-text">An initiative rooted in the ecosystem of health.</h1>
                </div>
            </div>

        </div>

        <div class="p2">
            <div class="partners-images">
                <!-- 5 images here -->

            </div>
        </div>
    </section>

    <!-- flowting container -->
    <section class="flowting">
        <div class="center">
            <p>
                You want to help shatter barriers and collaborate more efficiently? Save your spot to be notified during
                the
                first wave of invitations around the end of 2020.
            </p>
            <button class="btn-main"><a href="/work"> Save my spot</a></button>
        </div>
    </section>

    <!-- image container -->
    <section class="image-container">
        <section class="ip1">
            <div class="container">
                <div class="cimage-text">
                    <p class="small-text">OUR SOLUTION</p>
                    <h1 class="heading-text">Simple communication platform, centered around patients.</h1>
                    <p class="supporting-text">Learn how others manage their symptoms and discover treatments that
                        worked for them.</p>
                </div>
            </div>
        </section>
        <section class="ip2">
            <div class="display">
                <div class="cimage-image">
                    <!-- canva image here -->
                    <img src="{% static '/images/assests/Chikitsak-phone.svg' %}" alt="">
                </div>
            </div>
        </section>
    </section>


    <!-- blue container -->
    <section class="blue-container">
        <div class="container b-container">
            <section class="bc1">
                <div class="blue-ctext">
                    <p class="small-text">FEATURES AND SUPPORT</p>
                    <h1>Discover possible paths for your well-being.</h1>
                </div>
            </section>
            <section class="bc2">
                <div class="blue-flex">
                    <img src="{% static '/images/assests/1.svg' %}" alt="image">
                    <p>Connect with people having similar experiences,talk freely and confidently about your
                        healthcare problems with others dealing with the
                        same</p>
                </div>

                <div class="blue-flex">
                    <img src="{% static '/images/assests/3.svg' %}" alt="image">
                    <p>Read our blogs to know what survivors and health-experts wants you to know about your disease</p>
                </div>
                <div class="blue-flex">
                    <img src="{% static '/images/assests/2.svg' %}" alt="image">
                    <p>WE help people and organization to plan and run conferences,meetups with greater efficiency and
                        impact.</p>
                </div>
            </section>
        </div>
    </section>

    <!-- section-simple-last-second -->
    <section class="l-second">
        <div class="l-image">

        </div>
        <div class="container">

            <h1 class="heading-text">For patients and Caregivers to never feel less-informed & alone again.</h1>
            <div class="bn">
                <button class="btn-main">
                    <a href="/work">

                        Save my spot
                    </a>
                </button>
            </div>
        </div>
    </section>

    <!-- footer section -->
    <footer>
        <div class="container f-section">
            <section class="f1">

                <div class="f-image">
                    <img class="i-1" src="{% static '/images/logo/logoji.JPG' %}" alt="image">
                </div>
                <div class="f-content">
                    <p class="small-text">STAY INFORMED</p>
                    <p class="supporting-text">Receive news, articles and events by email to stay informed of progress.
                    </p>
                    <input type="text" name="" id="" placeholder="Email address">
                    <div class="links">
                        <ul class="footer-ul">
                            <li><a href="/about">About us </a></li>
                            <li><a href="/work">Contact us</a></li>
                            <li><a href="/work">Pages</a></li>
                            <li><a href="/blog">Blog</a></li>
                        </ul>
                    </div>
                </div>

            </section>

            <a href="./blog">
                <section class="f2">
                    <div class="b-sample">
                        <p class="small-text">FEATURED POST</p>
                        <img src="{% static '/images/assests/blog-photo.png' %}" alt="image">
                        <h2>Collaboration in healthcare: much more than faxes and phone calls!</h2>
                        <p class="supporting-text">What first comes to mind when we speak of interprofessional
                            collaboration
                            is a group of
                            healthcare professionals coming together to talk about a common patient.</p>
                    </div>
                    <div class="author">
                        <div>
                            <img src="{% static '/images/assests/blog-user.png' %}" alt="image">
                        </div>
                        <div class="a-info">
                            <p>Sanjana Agarwal</p>
                            <p>20 October 2020</p>
                        </div>
                    </div>
                </section>
            </a>
            <div class="copy">
                <div class="c-text">
                    Copyrights &#169 2020 Chikitsak
                </div>
                <div class="media">
                    <a target="_blank" href="https://www.instagram.com/chikitsak.health/">
                        <img src="{% static '/images/social-logo/1.svg' %}" alt="">
                    </a>
                    <a target="_blank" href="https://twitter.com/Chikitsakhealth">
                        <img src="{% static '/images/social-logo/2.svg' %}" alt="">
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/company/chikitsakhealth">

                        <img src="{% static '/images/social-logo/3.svg' %}" alt="">
                    </a>
                    <a target="_blank" href="https://www.facebook.com/chikitsak.org">

                        <img src="{% static '/images/social-logo/4.svg' %}" alt="">
                    </a>
                    <a href="">

                        <img src="{% static '/images/social-logo/5.svg' %}" alt="">
                    </a>

                </div>
            </div>
        </div>




    </footer>
    </div>
</body>

<script src="{% static '/js/script.js' %}"></script>

</html>